*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
header{
  width: 100%;
  background-color: whitesmoke;
}

html,
body {
  background-color: red;
  font-family: "Homer Simpson UI";
}

.container {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  perspective: 3px;
}



.fondo_1 {
  /* The image used */
  background-image: url('../../assets/img/image1.png');
  /* Width */
  width: 100%;
  /* Full height */
  height: 100vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondo_2 {
  /* The image used */
  background-image: url('../../assets/img/image2.png');
  /* Width */
  width: 100%;
  /* Full height */
  height: 100vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: kenburns-bottom 2s ease-out both;
}

.fondo_3 {
  /* The image used */
  background-image: url('../../assets/img/image3.png');
  /* Width */
  width: 100%;
  /* Full height */
  height: 100vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.barranav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.barranav ul li{
  list-style: none;
  display: inline-block;
  padding: 30px 50px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: sans-serif;
  cursor: pointer;
}

.barranav ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.nomb_logo{
  width: 330px;
  padding: 23px 20px;
  margin-left: 30%;
  float: left;
  top: 5%;
  left: 2%;
  color: rgb(5, 5, 5);
  font-size: 30px;
}

.logo_img{
  width: 86px;
}

.seccion_ff{
  background-size: cover;
  color: white;
  background-color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  grid-template-rows: 1fr 1fr;
}

.texto1{
  padding-right: 15%;
}

.texto2{
  padding-left: 15%;
  padding-top: 2em;
}

.p1{
  -webkit-animation: slide-in-bck-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.p2{
  -webkit-animation: slide-in-bck-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: 5s;
}


.seccion {
  background-size: cover;
  color: white;
  background-color: black;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.seccion h2{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  animation-duration: 7s;
  animation-name: fadeIn;
}

.dt1{
  -webkit-animation: roll-in-bottom 0.6s ease-out both;
	animation: roll-in-bottom 0.6s ease-out both;
  animation-delay: 1s;
  font-size: 2em;
  padding-right: 2em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-column-start: 2;
  grid-row-start: 1;
}

.dt2{
  -webkit-animation: roll-in-bottom 0.6s ease-out both;
	animation: roll-in-bottom 0.6s ease-out both;
  animation-delay: 2s;
  font-size: 2em;
  padding-right: 2em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-column-start: 3;
  grid-row-start: 1;
}

.dt3{
  -webkit-animation: roll-in-bottom 0.6s ease-out both;
	animation: roll-in-bottom 0.6s ease-out both;
  animation-delay: 3s;
  font-size: 2em;
  padding-right: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-column-start: 4;
  grid-row-start: 1;
}

.span1{
  -webkit-animation: roll-in-bottom 0.6s ease-out both;
	animation: roll-in-bottom 0.6s ease-out both;
  animation-delay: 1s;
  padding-top: 2em;
  padding-left: 8em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-column-start: 2;
  grid-row-start: 2;
}

.span2{
  -webkit-animation: roll-in-bottom 0.6s ease-out both;
	animation: roll-in-bottom 0.6s ease-out both;
  animation-delay: 2s;
  padding-top: 2em;
  padding-left: 8em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-column-start: 3;
  grid-row-start: 2;
}

.span3{
  -webkit-animation: roll-in-bottom 0.6s ease-out both;
	animation: roll-in-bottom 0.6s ease-out both;
  animation-delay: 3s;
  padding-top: 2em;
  padding-left: 6em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-column-start: 4;
  grid-row-start: 2;
}

.foot {
  position: relative;
  display: block;
  background-color: black;
  height: 75vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes roll-in-bottom {
  0% {
    -webkit-transform: translateY(800px) rotate(540deg);
            transform: translateY(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

@-ms-keyframes roll-in-bottom {
  0% {
    -webkit-transform: translateY(800px) rotate(540deg);
            transform: translateY(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

@-o-keyframes roll-in-bottom {
  0% {
    -webkit-transform: translateY(800px) rotate(540deg);
            transform: translateY(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes roll-in-bottom {
  0% {
    -webkit-transform: translateY(800px) rotate(540deg);
            transform: translateY(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

@-moz-keyframes roll-in-bottom {
  0% {
    -webkit-transform: translateY(800px) rotate(540deg);
            transform: translateY(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@-ms-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@-o-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@-moz-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
            transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.1) translateY(15px);
            transform: scale(1.1) translateY(15px);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}

